# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/

# Environment Variables
.env

# Python Tool Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Coverage
.coverage
htmlcov/

# ==========================
# Node.js
# ==========================
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

apps-tree.txt
project-tree.txt
structure.txt